<template>
    <router-hamburger></router-hamburger>
    <router-nav></router-nav>
    <behind-menu></behind-menu>
    <main></main>
</template>

<script>
    (function patchPushStateIIFE(history) {
        const pushStateOriginal = history.pushState;
        history.pushState = function patchedPushState(state, unused, url) {
            pushStateOriginal.call(history, state, unused, url);
            dispatchEvent(new Event('pushstate'));
        };
    })(window.history);

    let _sitemap = [
        [
            { "/": { "title": "Home", "template": "sqlite-control" } }
        ], [
            { "/plan": { "title": "Plan", "template": "project-plan" } },
            { "/execute": { "title": "Execute", "template": "project-execute" } },
            { "/monitor": { "title": "Monitor", "template": "project-monitor" } }
        ]];

    function getMapping(pathname) {
        let errorMapping = { "title": "404", "template": "error-404" };
        let resources = pathname.split("/");
        let mapping;
        if (resources[1]) { // URL is no single slash /, which would be only resources[0]
            for (let route of _sitemap[resources.length - 1]) {
                if (route[pathname]) { mapping = route[pathname]; }
            }
            if (!mapping) { mapping = errorMapping; }
        } else { mapping = _sitemap[0][0][pathname] }
        if (!customElements.get(mapping.template)) { return errorMapping; }
        return mapping;
    }

    const hamburger = shadowDocument.querySelector("router-hamburger");
    const nav = shadowDocument.querySelector("router-nav");
    const main = shadowDocument.querySelector("main");

    hamburger.addEventListener("click", function onHamburgerClicked(e) {
        e.preventDefault();
        hamburger.classList.toggle("open");
        nav.classList.toggle("open");
    });
    
    function loadContent(e) {
        let mapping = getMapping(location.pathname);
        main.replaceChildren(document.createElement(mapping.template));
    }

    loadContent();

    addEventListener("popstate", loadContent);
    addEventListener("pushstate", loadContent);

    eventbus.addEventListener("router:push", function pushStateForMapping(e) {
        let pathname = e.detail;
        let mapping = getMapping(pathname);
        history.pushState(mapping.template, mapping.title, pathname);
    })

    // workaround to access at least the first routing level when url entered into browser's address bar 
    const resources = (location.pathname).split("/");
    if (resources.length > 2) { push(resources.slice(0, 2).join("/")); }
</script>

<style></style>