<template>
    <nav>
        <ul>
            <li><a href="/plan">Plan</a></li>
            <li><a href="/execute">Execute</a></li>
            <li><a href="/monitor">Monitor</a></li>
        </ul>
    </nav>
</template>

<script>
    const links = shadowDocument.querySelectorAll("li");
    function onClick(e) {
        e.preventDefault();
        e.stopImmediatePropagation();
        let li = e.target.closest("li");
        let a = li.querySelector("a");
        let pathname = a.getAttribute("href");
        eventbus.dispatchEvent(new CustomEvent("router:push", { detail: pathname }));
    }
    links.forEach(li => {
        li.addEventListener("click", onClick);
        let a = li.querySelector("a");
        a.addEventListener("click", onClick)
    });

    function activate(e) {
        shadowDocument.querySelector(".active")?.classList.remove("active");
        for (let a of shadowDocument.querySelectorAll('a')) {
            if (location.pathname.includes(a.getAttribute("href"))) {
                a.closest("li").classList.add("active");
                break;
            }
        }
    }

    activate();
    addEventListener("popstate", activate);
    addEventListener("pushstate", activate);
</script>

<style>
    :host(.open) nav {
        transform: translateY(0);
    }

    nav {
        display: flex;
        transform: translateY(calc(-100% - 30px));
        transition: transform 1s ease-in-out;
        width: 100%;
        z-index: 1;

        position: sticky;
        top: 0;

        ul {
            display: flex;
            flex-flow: column nowrap;
            list-style: none;
            margin: 0;
            padding: 0;
            width: inherit;

            li {
                background-color: transparent;
                border-top: 15px solid transparent;
                border-right: 50vw solid #144000;
                border-bottom: 0px solid #144000;
                border-left: 50vw solid #144000;
                cursor: pointer;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                height: 50px;
                position: relative;
                z-index: 0;

                &::after {
                    position: absolute;
                    border-top: 15px solid #144000;
                    border-left: 50vw solid transparent;
                    border-right: 50vw solid transparent;
                    border-bottom: 0 solid transparent;
                    content: "";
                    display: block;
                    top: 50px;
                }


                &:hover {
                    border-left: 50vw solid yellow;
                    border-right: 50vw solid yellow;
                    border-bottom: 0px solid yellow;
                    position: relative;
                    opacity: .7;
                    z-index: 1;

                    &::after {
                        position: absolute;
                        border-top: 15px solid yellow;
                        border-left: 50vw solid transparent;
                        border-right: 50vw solid transparent;
                        border-bottom: 0 solid transparent;
                        content: "";
                        display: block;
                        top: 50px;
                        z-index: 1;
                    }

                    a {
                        opacity: 1 !important;
                        color: #144000;
                    }
                }

                a {
                    color: #fdd770;
                    text-decoration: none;
                    font-weight: bold;
                    align-self: center;
                    line-height: 30px;
                    font-size: 30px;
                    white-space: nowrap;

                    &:hover {
                        text-shadow: 0px 0px 8px #144000;
                        transition: text-shadow .2s ease-in .05s;
                    }
                }

                &.active {
                    border-top: 15px solid transparent;
                    border-left: 50vw solid yellow;
                    border-right: 50vw solid yellow;
                    border-bottom: 0px solid yellow;
                    position: relative;
                    z-index: 1;

                    &::after {
                        border-top: 15px solid yellow;
                    }

                    a {
                        color: #144000;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 600px) {
        nav {
            overflow: hidden;

            ul {
                flex-flow: row nowrap;
                width: calc(100% - 30px);

                li {
                    width: 33vw;
                    border-top: 4vh solid #144000;
                    border-right: 30px solid #144000;
                    border-bottom: 4vh solid #144000;
                    border-left: 30px solid transparent;
                    height: 0;

                    &:last-child::after {
                        border-top: 4vh solid transparent;
                        border-bottom: 4vh solid transparent;
                        border-right: 0;
                        top: 0;
                    }

                    &:last-child:hover {
                        &&::after {
                            border-right: 0;
                        }
                    }

                    &::after {
                        transform: translate(100%, -50%);
                        border-top: 4vh solid transparent;
                        border-right: 30px solid transparent;
                        border-bottom: 4vh solid transparent;
                        border-left: 30px solid #144000;
                        height: 0;
                        right: -28px;
                        top: 0;
                    }

                    &:hover {
                        border-top: 4vh solid yellow;
                        border-right: 30px solid yellow;
                        border-bottom: 4vh solid yellow;
                        border-left: 30px solid transparent;

                        &::after {
                            border-top: 4vh solid transparent;
                            border-right: 30px solid transparent;
                            border-bottom: 4vh solid transparent;
                            border-left: 30px solid yellow;
                            top: 0;
                        }
                    }

                    &.active {
                        border-top: 4vh solid yellow;
                        border-right: 30px solid yellow;
                        border-bottom: 4vh solid yellow;
                        border-left: 30px solid transparent;

                        &::after {
                            border-left: 30px solid yellow;
                            border-top: 4vh solid transparent;
                        }
                    }

                    a {
                        top: 0;
                        align-self: center;
                        position: relative;
                    }
                }
            }
        }
    }
</style>